.parant-advantage-container{
   
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-advantage-section, .right-advantage-section  {
    width: 50vw;
    padding: 10px 100px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 5rem;
}
.advantage-text-card  p {
    font-size: 19px;
    font-weight: 500;
}
.advantage-text-card a{
    font-size: 19px;
    text-decoration: none;
    color: blue;
}

.group-advantage-card {
    border: 2px solid grey;
   border-radius: 10px;
   text-align: center;
   padding: 30px 25px;

}
.advantage-card-h4{
    text-align: left;
    font-size: 20px;
    font-weight: 500;
}
.advantage-card-p{
    text-align: left;
    font-size: 18px;
    letter-spacing: 1px;
    color: silver;
}

.link-arrow-section{
    display: flex;
    align-items: center;
    gap: 10px;
    
}

.link-arrow-section a{
  text-decoration: none;
  font-size: 18px;
  color: blue;
}


.space-for-ball img {
    margin-left: 40%;
}
.space-for-ball-right .first-elipse {
  margin-left: -2rem;
}
.space-for-ball-right .second-elipse {
    margin-left: 13rem;
  }






  @media screen and (max-width: 768px) {
    .parant-advantage-container{
   
        display: flex;
        flex-direction: column;
    }
    .left-advantage-section, .right-advantage-section  {
        width: 100%;
        padding: 10px 10px;
    }
    .group-advantage-card {
       padding: 30px 15px;
    
    }
    .space-for-ball-right .first-elipse {
        margin-left: 0rem;
      }
      .space-for-ball-right .second-elipse {
          margin-left: 10rem;
        }
  }